@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

/* Add this class for reusability */
.animated-border-gradient {
  background: linear-gradient(90deg, #1E3473, #F7941D, #1E3473);
  background-size: 200% 100%;
  animation: moveGradient 2s linear infinite;
}

/* Shimmer effect styles */
.animate-shimmer {
  position: relative;
  overflow: hidden;
  background: #f6f7f8;
}

.animate-shimmer::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1.5s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
